<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="" content="">
    <title>Payment Status</title>
  </head>
  <body>
    Name = {{name}}<br />
    TXNID = {{order_status.TXNID}} <br>
    ORDERID = {{order_status.ORDERID}} <br>
    STATUS = {{order_status.STATUS}} <br>
    TXNID = {{order_status.TXNID}} <br>
    RESPMSG= {{order_status.RESPMSG}} <br>
    BANKTXNID = {{order_status.BANKTXNID}} <br>
   TXNAMOUNT = {{order_status.TXNAMOUNT}} <br>
   PAYMENTMODE = {{order_status.PAYMENTMODE}} <br>

  </body>
</html>